apiVersion: v1
kind: Service
metadata:
  name: gateway-service-svc
spec:
  type: NodePort
  selector:
    app: gateway-service
  ports:
  - name: http
    port: 80
    targetPort: 8100
    nodePort: 8100