spring:
  application:
    name: gateway-service
  profiles:
    active: ${PROFILES_ACTIVE}
  config:
    import: ${CONFIG_SERVER_URL:configserver:http://localhost:8888}
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - name: RequestRateLimiter
              args:
                key-resolver: "#{@smartKeyResolver}"
                redis-rate-limiter.replenishRate: 10
                redis-rate-limiter.burstCapacity: 20
                redis-rate-limiter.requestedTokens: 1
secret:
  key: ${SECRET_KEY}

security:
  cognito:
    jwks-url: ${COGNITO_JWKS_URL}
    issuer: ${COGNITO_ISSUER}
    audience: ${COGNITO_AUDIENCE}
    clientId: ${COGNITO_CLIENT_ID}

jwt:
  jwks-refresh-interval-mins: 15

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    urls:
      - name: IAM Service
        url: /iam-service/v3/api-docs
      - name: Patient Service
        url: /patient-service/v3/api-docs
      - name: Warehouse Service
        url: /warehouse-service/v3/api-docs
      - name: Instrument Service
        url: /instrument-service/v3/api-docs
      - name: Monitoring Service
        url: /monitoring-service/v3/api-docs
      - name: Test Order Service
        url: /test-order-service/v3/api-docs
      - name: Warehouse Service
        url: /warehouse-service/v3/api-docs
